
{% extends 'base.html' %}

{% block title %} Intro {% endblock %}

{% block content %}

<section>
    <div class="heading-style">
        <h2>Documents</h2>
      </div>
    
    <div class="outer-ctn">
        <div class="inner-ctn">
            <!---This is where we will have the pampflet, power point, and 
            other things avalible for download, and usage.-->
            <p>Here are some helpful documents about SSD.</p>
        </div>
    </div>

        
    <div class="outer-ctn">
        <div class="inner-ctn">
            <h3>Intro Power Point</h3>
            <!---This is where we will have the pampflet, power point, and 
            other things avalible for download, and usage.-->
            <p>Here are some helpful documents about SSD.</p>
        </div>
    </div>

        
    <div class="outer-ctn">
        <div class="inner-ctn">
            <h3>Basic Pamplet</h3>
            <!---This is where we will have the pampflet, power point, and 
            other things avalible for download, and usage.-->
            <p>Here are some helpful documents about SSD.</p>
        </div>
    </div>

</section>

{% endblock %}