{% extends 'base.html' %} {% block title %} Intro {% endblock %} {% block
content %}

<section>
  <div class="heading-style">
    <h2>Documents</h2>
  </div>

  <div class="outer-ctn">
    <div class="inner-ctn">
      <p>Here are some helpful documents about SSD.</p>
    </div>
  </div>

  <div class="outer-ctn">
    <div class="inner-ctn">
      <h3>Intro Power Point</h3>

      <a
        href="https://docs.google.com/presentation/d/1j0EWywEtHNe0aFW1V-39wrmqgbiPgox39zg-1pRA1DU/edit?usp=sharing"
        >Here is a link to access the powerpoint</a
      >
    </div>
  </div>

  <div class="outer-ctn">
    <div class="inner-ctn">
      <h3>Basic Pamplet</h3>

      <p>Here are some helpful documents about SSD.</p>
    </div>
  </div>
</section>

{% endblock %}
