/**
General Styles
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: 200;
  font-family: "PT Serif", serif;
  background-color: #eeeeee;
  font-size: 8pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  text-align: center;
}

/**
Layout
*/
a {
  padding: 3px;
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.button-thing {
  display: flex;
  align-items: center;
  width: 140px;
  color: black;
  text-decoration: none;
  justify-content: center;
  height: 40px;
  border-radius: 5%;
  background-color: #eeeeee;
}

.button-thing:hover {
  background-color: #b22222;
}

article {
  background-color: #334257;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
  align-items: center;
}

footer {
  width: auto;
  display: flex;
  color: lightgray;
  flex-direction: column;
  background-color: #334257;
  align-items: center;
}

footer a {
  background-color: inherit;
}

/**
Div style and layout
*/

#slogan {
  color: lightgray;
}

.outer-ctn {
  display: flex;
  flex-direction: row;
}

.highlight {
  background-color: #eeeeee;
}

.italic {
  font-style: italic;
}
.inner-ctn {
  margin: 3rem;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
}

.heading-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #476072;
  width: 100%;
}

#mainHeader {
  display: flex;
  color: lightgray;
  transition: margin 3s;
  flex-direction: column;
  align-items: center;
  background-color: #334257;
}

#mainHeader a {
  color: lightgray;
  margin: 4rem;
  background-color: inherit;
}

#homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url(images/washingtonMonument.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homeHeader h2 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.homeH3 {
  font-size: larger;
  font-weight: bolder;
}
.logos {
  width: 30px;
  height: 30px;
}

/**
 Sticky header styles
 */

.header {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav {
  padding-bottom: 1rem;
}

nav a {
  transition: border 0.5s;
  padding: 5px;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #476072;
}

section {
  width: 100%;
  min-height: 100px;
  background-color: #548ca8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
Media Query for screens 1005px or smaller.
*/
@media only screen and (max-width: 1100px) {
  .footer-inner-ctn {
    margin: 1rem;
  }

  .outer-ctn {
    margin: auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .inner-ctn {
    padding-bottom: 1rem;
    border-bottom: 2px dashed white;
  }

  #mainHeader a {
    margin: 1rem;
  }
}

/**
Media Query for screens 530px or less
*/

@media only screen and (max-width: 620px) {
  footer .inner-ctn {
    margin: auto;
  }

  #mainHeader a {
    margin: 3px;
    font-size: auto;
  }
}
/**
 Fluid
 Font Size
*/
@media screen and (min-width: 320px) {
  body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (3000 - 300)));
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 16px;
  }
}
