
/**
General Styles
*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Serif', serif;
  background-color: #8C7554;
  color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;

}

/**
Layout
*/

a {
  background-color: #F6D84C;
  padding: 1px;
  color: black;
  text-decoration: none;
}

a:hover {
text-decoration: underline;
cursor: crosshair;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A2A3A5;

}

footer  {
  display: flex;
  flex-direction: column;
  background-color:#252F58 ;
  align-items: center;
}

footer a {
  background-color: inherit;
  color: white;
}

.outer-ctn {
  display: flex;
  flex-direction: row;
}

.inner-ctn {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .outer-ctn {
  margin: 1rem;
  background-color: #676C72;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
}

.heading-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3E52A8;
  width: 100%;
  border-top: 2px solid black;
}

#mainHeader {
  display: flex;
  transition: margin 3s;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

#mainHeader a {
  margin: 4rem;
  color: white;
  background-color: inherit;
}

#homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url(images/washingtonMonument.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homeHeader h2 {
  background-color: rgba(0,0,0,0.7);
  padding: 1rem;
}

.logos {
  width: 30px;
  height: 30px;
}

nav {
  padding-bottom: 1rem;
}

nav a {
  transition: padding 1.5s, border 1.5s;
  padding: 5px;
  border: 3px solid grey;
}

nav a:hover {
  padding: 3px;
  border: 3px solid blue;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
Media Query for screens 1005px or smaller.
*/
@media only screen and (max-width: 1010px) {

  .footer-inner-ctn {
    margin: 1rem;
  }

  #mainHeader a {
    margin: 1rem;
  }

}

/**
Media Query for screens 530px or less
*/

@media only screen and (max-width: 530px) {

  .footer-inner-ctn {
    margin: 3px;
    font-size: auto;
  }

  #mainHeader a {
    margin: 3px;
    font-size: auto;
  }

}
