<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% block title %}  {% endblock %} -Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='index.js')}}">

</script>

<div id='mainHeader' class='header'>


  <h1>Scientific Self Determination</h1>

  <nav>

    <a href="{{ url_for('index')}}">Home</a>
    <a href="{{ url_for('menu_text.vision') }}">Our Vision</a>
    <a href="{{ url_for('menu_text.contact') }}">Contact Us</a>

  </nav>

</div>

<article class="content">

{% block content %}

{% endblock %}

</article>

<footer>

  <div class="outer-ctn">

    <div class='inner-ctn'>

      <h3>Join Us!</h3>

      <a href="#" ><img src="" alt="Instagram"></a><!--Instagram-->
      <a href="#" ><img src="" alt="Twitter"></a><!--Twitter-->
      <a href="#" ><img src="" alt="Youtube"></a><!--Youtube-->
      <a href="#" ><img src="" alt="Facebook"></a><!--Facebook-->
      <a href="#" ><img src="" alt="Reddit"></a><!--Reddit Group-->
      <a href="#" ><img src="" alt="Twitch"></a><!--Twitch-->
      <a href="#" ><img src="" alt="Jitsy"></a><!--Jitsy-->
      <a href="#" ><img src="" alt="Riot"></a><!--Riot Group-->

    </div>

    <div class='inner-ctn'>

      <h3>About SSD</h3>

      <a href="#">FAQs</a> <!--Inner links of website via Ids and pages-->

      <a href="#">Blog</a>

      <a href="#">About Us</a>

      <a href="#">Our Vision</a>

      <a href="#">History</a>

    </div>

    <div class="inner-ctn">

      <h3>About the people</h3>

      <a href="#">Contributors</a><!--Great generous people who donate a minimum of 1000-->

      <a href="#">Volunteers</a><!--Those who dedicate their time on a weekly or daily basis.-->

      <a href="#">Partners</a><!--Create content on a regular basis that is SSD related-->

    </div>

    <div class="inner-ctn">

      <h3>How to get involved!</h3>

      <a href="#">Contact Us</a>

      <a href="#">Volunteer Sign Up</a>

      <a href="#">Donate</a>

      <a href="#">Partner Sign Up</a>

    </div>



  </div>

  <div class="logo-holder">

    <img class='logos' src="static/images/logos/mail.png" alt="Email logo">

    <a mailto='Thommond@protonmail.com'>Thommond@protonmail.com</a>

  </div>

  <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>

  <p>Copyright of The Good Party <time>2020</time></p>


</footer>
