
{% extends 'base.html' %}

{% block title %} FAQ {% endblock %}

{% block content %}

<section >

  <div class="outer-ctn">
    <div class="inner-ctn">

      <h3 class="homeH3">Collabrative Veto</h3>

      <ul>
        <li>How far will collabrative veto go, counties, districts, etc?</li>
        <li>What powers will the veto allow local and low level governments?</li>
        <li>Would counties be able to ignore state law?</li>
        <li>Could one country be radically different from another?</li>
        <li>What percentage of local governments would enable a veto of state law?</li>
        <li>What will local governments be able to "say no" to?</li>
      </ul>

    </div>

    <div class="inner-ctn">

      <h3 class="homeH3">
        Multiple Choice Voting
      </h3>

      <ul>
        Will speed voting be in a general election?
      </ul>
      <ul>Could I vote for all canadites?</ul>
      <ul>Would'nt speed voting enable bad voters?</ul>
      <ul>Why should I get a vote for every canadite?</ul>
    </div>

    <div class="inner-ctn">

      <h3 class="homeH3">
        All Accepting
      </h3>

      <ul>
        Can I join if I am already registered with a party?
      </ul>
      <ul>Do I have to register as your party?</ul>
      <ul>How do I vote?</ul>
      <ul>Is there any exeptions to all excepting?</ul>
    </div>


  </div>
</section>

{% endblock %}