
{% extends 'base.html' %}

{% block title %} FAQ {% endblock %}

{% block content %}

<section>


  <div class="heading-style">
    <h3 class="homeH3">General</h3>
  </div>
  <div class="outer-ctn">
    <div class="inner-ctn">

      <ul class="columnList">
        <li>Why should I care, I have my life to worry about?</li>
        <li>Why should I join?</li>
        <li>What's the problem with today's politics?</li>
        <li>What will the future of politics, and government look like?</li>
        <li>What is your mission?</li>
      </ul>

    </div>
  </div>



  <div class="heading-style">
    <h3 class="homeH3">Collabrative Veto</h3>
  </div>
  <div class="outer-ctn">
    <div class="inner-ctn">

      <ul class="columnList">
        <li>How far will collabrative veto go, counties, districts, etc?</li>
        <li>What powers will the veto allow local and low level governments?</li>
        <li>Would counties be able to ignore state law?</li>
        <li>Could one country be radically different from another?</li>
        <li>What percentage of local governments would enable a veto of state law?</li>
        <li>What will local governments be able to "say no" to?</li>
      </ul>

    </div>
  </div>
    <div class="heading-style">
      <h3 class="homeH3">
        Multiple Choice Voting
      </h3>
    </div>
    <div class="outer-ctn">
    <div class="inner-ctn">
      <ul class="columnList">
      <li>
        Will speed voting be in a general election?
      </li>
      <li>Could I vote for all canadites?</li>
      <li>Would'nt speed voting enable bad voters?</li>
      <li>Why should I get a vote for every canadite?</li>
    </ul>

    </div>
  </div>
  <div class="heading-style">
    <h3 class="homeH3">
      All Accepting
    </h3>
  </div>
  <div class="outer-ctn">
    <div class="inner-ctn">
      <ul class="columnList">
        <li>
          Can I join if I am already registered with a party?
        </li>
        <li>Do I have to register as your party?</li>
        <li>How do I vote?</li>
        <li>Is there any exeptions to all excepting?</li>
      </ul>
      
    </div>
    </div>


  </div>
</section>

{% endblock %}