{% extends 'base.html' %}

{% block title %} Intro {% endblock %}

{% block content %}


<section id='intro'>

    <div class="heading-style">
        <h2>A Deeper dive into SSD.</h2>
    </div>

    <div class="outer-ctn">
        <div class="inner-ctn">
            <h3>Issues</h3>

            <p>We Believe that alot of political issues come from 
               two main points. 
     
                 <ol>
                     <li>Not having consent of the governed</li>
                     <li>Being to broad so individuals seem powerless</li>
                 </ol>
             </p>
        </div>
    </div>


    <div class="heading-style">
        <h2>Collaberate Veto</h2>
    
        <p>Consent of the governed through specific form voting.</p>
      </div>

      <div class="outer-ctn">
        <div class="inner-ctn">

            <p>The average person can have their entire 
               way of life destroyed from a misguided, politically 
               motivated decision by those who do not understand or 
               live in the local community, and the community at large. The way to 
               reduce this issue is allow local communities to have a larger impact. 
               If we allow local communities to "say no" to a broader governments law, 
               power or action, this will reduce unwanted local changes.
            </p>
        </div>
    </div>
  
  
      <div class="heading-style">
        <h2>All Accepting</h2>
    
        <p> Continuous learning, we except independents and other party members.</p>
      </div>

      <div class="outer-ctn">
        <div class="inner-ctn">
            <h3>Instablility</h3>

            <p>The current political system and structure is unsustainable, any 
               political structure which is unsustainable will disable positive
               elements of society while enabling negative ones. It does not 
               matter if they are rich, poor, majority, minority, religous, non-religous
               or what race, gender, sexuality and if you're foriegn or domestic.
            </p>


            <h3>Finding The Good</h3>

            <p>We believe in embolding and finding the good 
               in everyone. We feel under the curretn system 
               as it is, no ome is being satisfied and the costs 
               are not being paid by those making the bad decesions.
            </p>



        </div>
    </div>
  
  
      <div class="heading-style">
        <h2>Multiple Choice Voting</h2>
    
        <p>The ability to vote for who, you want when you want.</p>
      </div>

      <div class="outer-ctn">
        <div class="inner-ctn">

            <p>Multiple choice voting would allow you to choose as many 
              candidate in the election that you think would be reasonable 
              to perform the duties of the office for which they are running.  
            </p>

            <p>Why should you be limited to having your opinion for just one candidate? 
              Multiple choice voting would work the same way as our 
              current voting system; the candidate with the most votes wins. 
            </p>

        </div>
    </div>
</section>

{% endblock %}