{% extends 'base.html' %}

{% block title %} Objectives {% endblock %}

{% block content %}

<section >
    
  <div class="heading-style">
    <h2>Objectives</h2>

    <p>We don't just have ideas, we have plans!</p>
  </div>

  <div class="outer-ctn" style="border-bottom: 1px solid;">
    <div class="inner-ctn">
        <h3>Awareness</h3>

         <ul>
           <li>Host the website</li>
           <li>Create power point, for later instruction</li>
           <li>Create a simple pamplet for street use.</li>
           <li>Set up social platforms such as 
             <ul>
               <li>Facebook</li>
               <li>Instagram</li>
               <li>Twitter</li>
               <li>Other alternatives</li>
             </ul>
           </li>
           <li>Set up local chat group on telegram, or other messaging app.</li>
         </ul>
    </div>
  </div>

  <div class="outer-ctn" style="border-bottom: 1px solid;">
    <div class="inner-ctn">
        <h3>Stability</h3>
         <ul>
           <li>Offer the ability to donate, using patreon, gofundme, etc.</li>
           <li>Scalling, and the future ideas of management</li>
           <li>Have plant to prevent disruption of party mission</li>
           <li>Create a simple pamplet for street use</li>
           <li>Having other contributors spread awareness</li>
         </ul>
    </div>
  </div>


</section>

{% endblock %}