{% extends 'base.html' %} {% block title %} Contact Page {% endblock %} {% block
content %}

<section id="contact">
  <div class="inner-ctn">
    <h2>We love your support!</h2>

    <p>
      The best way to get in contact with our team is through our company email!
      If you have any questions, concerns, or you want to learn more, feel free
      to contact us!
    </p>

    <p>
      Our email is
      <a href="mailto:makechange2020@protonmail.com"
        >makechange2020@protonmail.com</a
      >
    </p>
  </div>
</section>

{% endblock %}
