
{% extends 'base.html'%}

{% block title %} Home {% endblock %}

{% block header %} Welcome to Scientific Self Determination's website. {% endblock %}

{% block content %}

<header id='homeHeader'>

  <h2>A philoslopy built on action and looking to change the politcal
  environment forever.</h2>

</header>

<section>

  <div class="heading-style">
    <h2>What are we about?</h2>

    <p>Here is three of our main values as a philoslopy.</p>
  </div>

  <div class="outer-ctn">

    <div class="inner-ctn">

      <h3>Collaberative Veto</h3>

      <p>Scientific self determination is a collaberation of ideas concretely
      formulated into one philosolpy, one idea which is collaberative veto. Allowing
      local levels and indivduals the ablity to "say no" is a fundimental part of
      consent of the governed.</p>

      <a href="#">More on Collaberative veto</a>

    </div>

    <div class="inner-ctn">

      <h3>Multiple Choice Voting</h3>

      <p>Multiple choice voting is another idea which Scientific self determination
      has adopted. The ability for each voter to have a vote for every candidate on the
      ballot.</p>

      <a href="#">More on Multiple Choice Voting</a>

    </div>

    <div class="inner-ctn">

      <h3>All Accepting</h3>

      <p>Scientific self determination and all parties affiliate with it accept all to
      vote and partcipate in certian actions in the party. Meaning you can be a Democrat or
      Republican and still vote in the SSD party.</p>

      <a href="#">More on who is excepted to join</a>

    </div>

  </div>

</section>

  <div class="">

  </div>

<section>

</section>


<section>

  <div class="heading-style">

    <h2>Want to get involved???</h2>

    <p>We have many ways to get involved with SSD which include</p>

  </div>

  <div class="outer-ctn">

    <div class='inner-ctn'>


      <h3>Volunteering</h3>

      <p>You can volunteer your time, and help change the world forever. There
      are all types of positions open from, social media managment, blogging,
      administration and more!</p>

      <a class='button-thing' href="#">Volunteer!</a>

    </div>

    <div class='inner-ctn'>

      <h3>Collaberate with Us</h3>

      <p>If you cannot volunteer, you can collaberate using some of your social media,
      blog, and more all while you will be featured as a partner on our contributor page.</p>

      <a href="#">How to collaberate!</a>

    </div>

    <div class="inner-ctn">

      <h3>Donate</h3>

      <p>Sure if you can not volunteer or collaberate, any donation would be appreiated!
      All donations above 1,000 will be featured on our contributors page. Thanks!</p>

      <a class='button-thing' href="#">Donate!</a>

    </div>

  </div>

</section>


{% endblock %}
