
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %} Welcome to Scientific Self Determination's website. {% endblock %}

{% block content %}

<header id='homeHeader'>

  <h2 id="slogan">A philosophy built on action and looking to change the political
    environment <span class="italic">forever</span>.</h2>

</header>

<section>

  <div class="heading-style">
    <h2>What are we about?</h2>

    <p>Here is three of our main values as a philoslopy.</p>
  </div>

  <div class="outer-ctn">

    <div class="inner-ctn">

      <h3 class="homeH3" >Collaberative Veto</h3>

      <p>Scientific self-determination is a collaboration of ideas concretely formulated into one philosophy, an idea that is a collaborative veto. Allowing
        local levels and individuals the ability to "say no" is a fundamental part of
        consent of the governed.</p>

      <a class="highlight" href="#">Collaberative veto</a>

    </div>

    <div class="inner-ctn">

      <h3 class="homeH3" >Multiple Choice Voting</h3>

      <p>Multiple choice voting is another idea which Scientific self-determination has adopted. The ability for each voter to have a vote for every candidate on the
        ballot.</p>

      <a class="highlight" href="#">Multiple Choice Voting</a>

    </div>

    <div class="inner-ctn">

      <h3 class="homeH3">All Accepting</h3>

      <p>Scientific self-determination and all parties affiliate with it accept all to vote and participate in certain actions in the party. Meaning you can be a Democrat or
        Republican and still vote in the SSD party.</p>

      <a class="highlight" href="#">How to join</a>

    </div>

  </div>

</section>

  <div class="">

  </div>

<section>

</section>


<section>

  <div class="heading-style">

    <h2>Want to get involved???</h2>

    <p>We have many ways to get involved with SSD which include</p>

  </div>

  <div class="outer-ctn">

    <div class='inner-ctn'>


      <h3 class="homeH3">Volunteering</h3>

      <p>You can choose to volunteer and help change the world forever. There
        are all types of positions open, social media management, blogging,
        administration and more!</p>

      <a class='button-thing' href="mailto:makechange2020@protonmail.com?subject=Volunteering">Volunteer!</a>

    </div>

    <div class='inner-ctn'>

      <h3 class="homeH3">Collaberate with Us</h3>

      <p>If you cannot volunteer, you can collaborate using your social media,
        blog, and more. Volunteer, and you will be featured as a partner on our contributor page.</p>

      <a class='button-thing' href="#">Collaberate!</a>

    </div>

    <div class="inner-ctn">

      <h3 class="homeH3">Donate</h3>

      <p>If you can not volunteer or collaborate, any donation would be appreciated! All donations of one thousand dollars or more will be featured on our contributors page. Thanks!</p>

      <a class='button-thing' target="new" href="https://www.gofundme.com/">Donate!</a>

    </div>

  </div>

</section>


{% endblock %}
