{% extends 'base.html' %} {% block title %} Our Values {% endblock %} {% block
content %}

<section>
  <div class="heading-style">
    <h2>Vision</h2>

    <p>
      Ultimately our ideas are found by you. You define this party. You choose
      these leaders, it is no deception.
    </p>
  </div>

  <div class="outer-ctn" style="border-bottom: 1px solid">
    <div class="inner-ctn">
      <h3>Government for the people. No Really.</h3>

      <p>
        We are once again trying to make it that the government has to make the
        the majority agree with all of its actions and powers.
      </p>
    </div>
  </div>

  <div class="outer-ctn" style="border-bottom: 1px solid">
    <div class="inner-ctn">
      <h3>Party for the people.</h3>

      <p>
        We are pluralistic, based on what works and what can pay for itself
        provided all powers agree. We are pro-choice and pro-life in the
        furthest way possible. We agree not to enforce our biased dogma on other
        houses, businesses and communities.
      </p>

      <hr />

      <p>
        We do not discriminate, and want success for people with sense of
        community, hard work and can get along.
      </p>
    </div>
  </div>

  <div class="outer-ctn" style="border-bottom: 1px solid">
    <div class="inner-ctn">
      <h3>What we are against</h3>

      <p>
        We are against the current path of monopolies, duopolies, genocide, and
        forms of slavery. Unsustainable systems have this in common, no check on
        power and don't have the consent of the people. Voting consent is needed
        to stop the repetition of central force.
      </p>
    </div>
  </div>
</section>

{% endblock %}
